#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.below-nav {
  padding-top: 5rem;
}

.navbar-colour{
  background-color: #0c329b
}

.fontTable{
  font-size: 1.2rem;
}

.fontIcon{
  font-size: 2rem;
}

.fontBold{
  font-weight: bold;
}

.table-cell {
  white-space: nowrap;
  text-align: center;
}

.just-busy {
  background-color: chocolate;
}

.blu-color{
  color: #0c329b;
}

.title-form {
  font-size: 24px;
}

.block-example {
  margin-top: 2em;
}

.bi-airplane-fill {
  margin-left: 1em;
}

.bi-person-circle{
  font-size: 2rem;
  margin-right: 1em;
}

.space-button{
  margin-top: 1em;
  margin-bottom: 1em;
}

.card-margin{
  margin-left: 1em;
  margin-right: 1em;
}

.big-button {
  font-size: 1.1em !important;
  padding: 1em !important;
}

.bi-clipboard-plus-fill:hover, .bi-clipboard-heart-fill:hover {
  cursor: pointer;
}

.icon-margin-dx{
  margin-right: 0.5em;
}